h1.destination-show {
  color: #black;
  font-family: 'Raleway', sans-serif;
}


p.destination-show {
  font-family: 'Open Sans', sans-serif;
  color: #696969;
  text-align: left;
  margin-left: auto;
}
