.request-box {
  background-color: #20b2aa;
  border-radius: 5px;
  width: 70%;
  height: 18%;
  margin-top: 20px;
  margin-bottom: 10px;

  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  z-index: auto;
  box-shadow: 4px 4px 3px #888888;
}
button.request-button {
  background: white;
  color: #20b2aa;
  height: 33%;
  width: 68%;
  padding: 5px;
  font-size: 16px;
  margin-top: 5px;
  margin-left: 6px;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}

button.request-button:hover {
  opacity: 0.8;
}

.request-form {
  float: right;
}

form.request-form {
  margin: 10px;

}
