.single-review > p {
  font-family: 'Raleway', sans-serif;
  color: #696969;
}


.guest-delete-review {
  border:  2px solid #20b2aa;
  border-radius: 5px;
  outline: none;
  margin-left: 0px;
  color: #20b2aa;
  font-family: 'Open Sans', sans-serif;
  cursor: pointer;
}

.guest-delete-review:hover {
  opacity: 0.8;
}

.guest-edit-review {
  border:  2px solid #20b2aa;
  border-radius: 5px;
  outline: none;
  margin: 10px;
  color: white;
  font-family: 'Open Sans', sans-serif;
  cursor: pointer;
  background-color: #20b2aa;
}

.guest-edit-review:hover {
  opacity: 0.8;
}
