.single-review > p {
  font-family: 'Raleway', sans-serif;
  color: #696969;
  text-align: left;
}

.reviewer-name {
  font-weight: bold;
  font-size: 16px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.reviwer-city {
  margin-top: 0px;
  font-size: 12px;
  font-style: italic;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.review-date {
  margin-top: 0px;
  padding-top: 0px;
}

.review-title {
  font-weight: bold;
  font-size: 16px;
}

.single-review {
  border-bottom: 1px #696969 solid;
  padding-bottom: 30px;
}

section.edit-delete-review {
  float: left;
}
.guest-delete-review {
  border:  2px solid #20b2aa;
  border-radius: 5px;
  outline: none;
  margin-left: 0px;
  color: #20b2aa;
  font-family: 'Open Sans', sans-serif;
  cursor: pointer;
}

.guest-delete-review:hover {
  opacity: 0.8;
}

.guest-edit-review {
  border:  2px solid #20b2aa;
  border-radius: 5px;
  outline: none;
  margin: 10px;
  color: white;
  font-family: 'Open Sans', sans-serif;
  cursor: pointer;
  background-color: #20b2aa;
  text-decoration: none;
  font-size: 12px;
  padding-left: 3px;
  padding-right: 3px;
}

.guest-edit-review:hover {
  opacity: 0.8;
}
