
.react-autosuggest__input {
  width: 275px;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  position: relative;
  top: 25px;
  background: transparent;
  color: white;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: white 3px solid;
  outline: none;
}

.react-autosuggest__suggestions-list {
  width: 275px;
  z-index: 1;
  margin-left: 0px;
  list-style: none;
  position: relative;
  color: white;
  right: 51px;
}

.react-autosuggest__suggestion--highlighted {
  text-decoration: none;
  list-style: none;
  color: #20b2aa;
}

.search-list-item {
  background-color: white;
  color: gray;
  font-size: 12px;
  list-style: none;
  margin-bottom: 0;
  margin-top: 0;
}

.magnifying-glass {
  height: 20px;
  width: 20px;
}

.search-bar-align {
  display: flex;
  flex-direction: row;
  /*align-items: center;*/
  justify-content: space-between;
}
form.search-bar {
  position: relative;
}

button.search-submit-button {
    margin-top: 3px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    bottom: 3px;
    position: absolute;
    right: 0;
    bottom: 45%;
}
